<h1>編集</h1>
<ul>
  <% @post.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
  <% end %>
</ul>
<%= form_tag("/posts/#{@post.id}/update", data: { turbo: false}) do %>
    <h3>タイトル</h3>
    <input type="text" name="title" value=<%= "#{@post.title}" %> >
    <h3>本文</h3>
    <textarea name="content"><%= @post.content %></textarea>
    <input type="submit" value="更新">
<% end %>